{% extends 'base.html' %}

{%block title %} About Me {% endblock %}

{%block body %}

{% include 'menu.html' %}

<div class="content_style full_width">
    <h1><b>About Me</b></h1>
    <p>
        I am Leung Chun Wai, Raymond.
        I graduated from The Hong Kong University of Science and Technology with a Bachelor Degree of Science.
        My major is Mathematics with Pure Mathematics Option.
        Three years academic study enhanced my logical thinking and problem-solving skills.
    </p>

    <p>
        After graduation, I was working as a part-time math tutor in tutorial school.
        Then, I joined Inland Revenue Department as a Clerical Assistant and promoted to Assistant Clerical Officer as my current job.
    </p>

    <p>
        During the time of working in Inland Revenue Department, I started to learn programming.
        With my academic background, I found myself more interested in working on jobs that related to logical reasoning.
        I started to learn programming with python in 2018.
    </p>

    <p>
        I Joined the online course CS50 which is organized by Harvard University, learning:<br>
        - C <br>
        - Python <br>
        - SQL<br>
        - HTML , CSS , Javascript <br>
        - Lua language and the LÖVE framework for game development<br>
        - Completed nine problem set and a final project – RSA message encryption and decryption system.
    </p>

    <p>
        I Joined the online course CS50AI which is organized by Harvard University, learning how AI works with <br>
            - Searching <br>
            - Logic inferences <br>
            - Uncertainty <br>
            - Optimization <br>
            - Machine learning <br>
            - Neural networks <br>
            - Human language<br>
            - Completed twelve projects and seven quizzes.
    </p>
</div>
{% endblock %}