{% extends 'base.html' %}

{%block title %} Contact Me {% endblock %}

{%block body %}

{% include 'menu.html' %}

<div class="content_style full_width">

    <h1><b>Contact Me</b></h1>
        <h3>E-mail:</h3>
        <a href="cwleungaa@gmail.com" target="_blank" >cwleungaa@gmail.com</a>
        <br>
        <h3>Mobile phone/Whatsapp:</h3>
        <p>60845943</p>
        <br>
        <h3>Linkedin Profile page</h3>
        <a class="LI-simple-link" href='https://hk.linkedin.com/in/cwleungaa?trk=profile-badge'>Raymond Leung</a>
</div>

{% endblock %}